html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    background: #353535;
    color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}
.input {
    padding: 20px;
    line-height: 200%;
}
canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#file {
    cursor: pointer;
    padding: 30px;
    border: 1px solid #444;
    border-radius: 5px;
}
#file:hover {
    background: rgba(255,255,255,0.05);
}

.entity {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ccc;
}
.entity pre {
    display: none;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    position: absolute;
    padding: 8px;
    margin-top: 8px;
    margin-left: 0px;
}
.entity:hover {
    border: 2px solid #fff;
    margin-top: -1px;
    margin-left: -1px;
}
.entity:hover pre {
    display: block;
}
.room, .screen {
    display: block;
    position: absolute;
    border: 1px solid #000;
}
.screen {
    border: 1px solid #02f;
}
#screenshot {
    position: absolute;
}
body {
    display: flex;
    flex-direction: column;
}

#explorer {
    position: relative;
    overflow: scroll;
    background: rgba(255,255,255,0.1);
    width: 100%;
    height: 100%;
}
.row {
    display: flex;
    flex: 1;
    overflow: auto;
}
#details {
    padding: 16px;
    font-family: monospace;
    overflow-y: scroll;
    box-sizing: border-box;
    white-space: pre;
    height: 100%;
    width: 350px;
}
.selected {
    border: 2px solid #000;
    margin-top: -1px;
    margin-left: -1px;
    z-index: 20;
}

.tabs {
    flex-grow: 1;
    height: 100%;
    &>div {
        display: none;
    }
    &>div.active {
        display: block;
    }
}

.data-list {
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    p {
        color: #aaa;
        font-size: 14px;
        margin-bottom: 4px;
    }
    a {
        cursor: pointer;
        &:hover {
            color: rgb(74, 97, 202);
        }
    }
}
.tabbar {
    .tabbutton {
        display: inline-block;
        padding: 5px 10px;
        background: rgba(0,0,0,0.1);
        cursor: pointer;
        &.active {
            border-bottom: 2px solid #ccc;
        }
    }
}